/* Fonts */

@font-face {
  font-family: 'SF UI Display Medium';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display Medium'), url('./fonts/sf-pro-display/sf-ui-display-medium.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display Semibold'), url('./fonts/sf-pro-display/sf-ui-display-semibold.woff') format('woff');
}

/* Variables */
$dark-gray: #AAAAAA;
$light-gray: #CCCCCC;
$lightest-gray: #EEEEEE;
$dark-blue: #61A0FF;
$light-blue: #94BFFF;
$star-yellow: #FFC93D;
$white: #FFFFFF;
$black: #000000;

$medium: 'SF UI Display Medium', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

$semibold: 'SF UI Display Semibold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

/* General Style */

body {
  margin: 0;
  font-family: $medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.title-main {
  border-bottom: 1px solid $lightest-gray;
  color: $black;
  letter-spacing: .5px;
  margin: 1.5rem 0;
  padding: 0 1.5rem 1.5rem;
}

/* Form Style */

.movie-form {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}

.input-row{
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.input-row label,
.submit-button {
  font-family: $semibold;
  font-size: 1.25rem;
  min-width: 100px;
}

.input-row input,
.input-row select {
  border: 1px solid $light-gray;
  border-radius: 8px;
  flex: 1;
  font-size: 1.25rem;
  padding: 1rem;
}

.input-row input::-webkit-input-placeholder { /* Edge */
  color: $dark-gray;
}

.input-row input:-ms-input-placeholder { /* Internet Explorer */
  color: $dark-gray;
}

.input-row input::placeholder {
  color: $dark-gray;
}

select:required:invalid {
  color: $dark-gray;
}
option {
  color: $black;
}

.rating-fieldset {
  border: none;
  margin: 1rem 0 1rem auto; 
  padding: 0; 
}

.star-rating-input input {
  display: none;
  margin: 0;
}

.star-rating-input {
  cursor: pointer;
  font-size: 1.25rem;
  margin-left: .5rem; 
  color: $light-gray;
}

.star-rating-input:checked {
  display: block;
  margin: 0;
}

.submit-button {
  background: $dark-blue;
  background: linear-gradient(to bottom,$light-blue,$dark-blue );
  border: 1px solid $dark-blue;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(97, 160, 255, .5), 0 4px 8px 0 rgba(97, 160, 255, .25);
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  color: $white;
  cursor: pointer;
  margin-bottom: 1.5rem;
  padding: 1rem;
  transition: all .3s;
}

.submit-button:hover {
  box-shadow: 0 2px 4px 0 rgba(97, 160, 255, .5);
  filter: brightness(95%);
}

.submit-button:active {
  box-shadow: none;
  filter: brightness(85%);
}

/* Movie List Style */

.movie-list {
  display: flex;
  flex-direction: column;
}

.movie-container {
  border-top: 1px solid $lightest-gray;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 54px;
  padding: 1.25rem 1.5rem;
}

.movie-container:last-child {
  border-bottom: 1px solid $lightest-gray;
}

.movie-avatar {
  background: $dark-blue;
  border-radius: 50%;
  color: $white;
  font-size: 1.25rem;
  height: 54px;
  line-height: 54px;
  margin-right: 1rem;
  min-width: 54px;
  text-align: center;
  text-transform: uppercase;
  width: 54px;
}

.movie-avatar.small-letters {
  font-size: .85rem;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .25rem 0;
  overflow: hidden;
}

.movie-name {
  font-family: $semibold;
  font-size: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie-category {
  color: $dark-gray;
  font-size: .85rem;
}

.movie-rating { 
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  margin-left: auto;
  min-width: 155px;
  padding-left: 1rem
}

.movie-rating .star-rating {
  color: $star-yellow;
  margin-left: .5rem;
}

.star-rating-0 .star-rating,
.star-rating-1 .star-rating:nth-child(1n+2),
.star-rating-2 .star-rating:nth-child(1n+3),
.star-rating-3 .star-rating:nth-child(1n+4),
.star-rating-4 .star-rating:nth-child(1n+5),
.star-rating-5 .star-rating:nth-child(1n+6) {
  color: $light-gray;
}


